requests==2.34.2
beautifulsoup4==4.15.0
lxml==6.1.1
python-dotenv==1.2.2
schedule==1.2.2
feedparser==6.0.12
python-dateutil==2.9.0.post0
huggingface_hub==1.19.0
openvino==2026.2.0
azure-ai-textanalytics==5.4.0